.footer__container{
    background-color: #022b5b;
    padding: 60px 0;
   

    .footer__rows{
        display: flex;
        justify-content: space-between;
        @media (max-width:"1000px"){
           flex-direction: column;
           align-items: center;
           justify-content: center;
           gap: 2rem;
        }
    }
    .first__grid{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 20px;
        .footer_video2{
            display: none;
            @media (max-width:"1000px"){
            display: block;
        border-radius: 5px;

            }
        }
        .glogo{
            height: 60px;
            @media (max-width:"1000px"){
                height: 74px;
            }
            @media (max-width:"600px"){
                height: 43px;
            }
        }
        .social_icons{
            display: flex;
            justify-content: space-between;
            .footer-icons{
                color: white;
                font-size: 25px;
            }
        }
    }
    .none{
        display: none;
        @media (max-width:"1000px"){
            display: block;
            color: white;
            .show{
                gap: 14rem;
                border-bottom: 1px solid white;
                display: flex;
                margin-bottom: 10px;

            }
            .hide{
                list-style: none;
            }
        }
    }
    .snd__grid{
        color: #a0a2a6;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        @media (max-width:"1000px"){
            display: none;
        }
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        justify-content: space-between;
        li:nth-child(1) {
            color: white;
            font-size: 16px;
            font-weight: 600;
            // line-height: 31px;
          }
      }
    }

    .footer_video{
        // height: 158px;
        // width: 300px;
        border-radius: 5px;
        @media (max-width:"1000px"){
            display: none;

            }
    }
    .footer__dummy{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    font-weight: 400;
    line-height: 31px;
    margin: 2rem 0;
    margin-bottom: 0;
    color: white;
    @media (max-width:"700px"){
        flex-direction: column;
        align-items: center;
    
    }

    .dummy1{
        display: flex;
        gap: 6rem;
    }
    }
}

.bottom__line{
  background-color: #FCD002;

    .bottm__text{
          display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 5px 0;
    align-items: center;
    @media (max-width:"700px"){
        flex-direction: column;
        gap: 2px;
    
    }
    }
}

.time{
    display: flex;
}

.btm__prof{
    width: 221px;
height: 40px;


background: #0076FF;
border: 2px solid #FFFFFF;
border-radius: 72px;
display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}